/* 1st step */
  /* $desktop:1200px;
  $laptop:1024px;
  $tablet:768px
  $phone:480px */

	* {
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
	}

	body {
		width: 100%;
		min-height: 100vh;
		background-color: red;
		overflow-x: hidden;
	}

	html {
		scroll-behavior: smooth;
	}

	* {font-family: 'Poppins', sans-serif;}
/* 1st step end */	

/* section ------------------------------------------------------------------NAV------------------ */

/*nav*/
	#sec-1 {
		background-color: #ecf1fd;
		width: 100%;
	}

	.mylogo {
	  height: 60px;
	  padding-left: 45px;
	  border-style: solid;
	  margin-top: 20px;
	}

	#nav {
	    background-color: #ecf1fd;	
	    padding-left: 20%;
	    padding-bottom: 10px;
		padding-top: 10px;
	    border-style: dotted;
	}

	#nnav {
		margin-left: 30%;
		border-style: solid;
		padding-right: 90px;
	}

	#list-link {
		color:  rgba(0, 0, 0, 0.667);
		text-decoration: none;
		display: block;
		position: relative;
		padding-bottom: 0.25rem;
		border-style: dashed;
		padding-right: 5px;
	}

	#list-link::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: #0097a7;
		transition: width 0.35s ease-out;
	}

	#list-link:hover::before {
		width: 100%;
	}
/*nav end */
	
/* section --------------------------------------------------------------------FIRST CONTENT---------------- */

/*first content*/
	#sec-2 {
		/*padding-top: 20px;*/
		width: 100%;
		padding-right: 4%;
		padding-left: 4%;
		border-style: dotted;
		padding-top: 15px;
		
	}

	#intro {
	 	padding: 7% 3% 3% 11%;
	 	border-style: solid;
	}


	#dpic {
		padding-left: 3%;
		border-style: solid;
		padding-top: 35px;
	}

	#first {
		background-color: #ecf1fd;
	}

	#hello {
		font-weight: 600;
		color: #263238;
		font-size: 16px;
		padding-bottom: 30px;
		padding-top: 27%;
		border-style: solid;
		margin-top: -20px;
	}	

	.name {
		color: #263238;
		font-size: 45px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		letter-spacing: 4px;
		border-style: solid;
	}

	.nate {
		color: #0097a7;
	}

	.stack {
		margin-top: -20px;
		font-size: 14px;
		font-weight: lighter;
		word-spacing: 3px;
		line-height: 25px;
		border-style: solid;
		/*padding-right: 5%;*/
	}

	.full {
		font-weight: bold;
	}

	#sec-2 {
		background-color: #ecf1fd;
		
	}

	#button {
		background-color: #0097a7;
		color: white;
		border-style: none;
		text-decoration: none;
		transition: 0.3s ease-out;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 400;
	}

	.addB {
		border-style: solid;
		position: absolute;
		padding-top: 95px;

	}

	#button:hover {
		transform:  translate(0px, -15px)
	}

	#button:hover::after {
		transform:  translate(0px, 6px)
	}

	#button:hover::before {
		transform:  translate(0px, 15px)
	}

	.space {
		color: #ecf1fd;
	}

	#iconic {
	color: #263238;
	font-size: 15px;
	border-style: solid;
	}

	#iconic:hover {
		color: #0097a7;
	}

/*first content end */

/* section ------------------------------------------------------------------ABOUT ME------------------ */

/*ABOUT ME*/
	.ccbg {
		border-style: solid;
		width: 100%;
		background-color: #ffffff;
	}

	.div2 {
		padding-right: 8%;
		padding-left: 8%;
		border-style: solid;
		margin-top: 3%;
	} 

	.layn {
		border-style: dotted;
		position: inherit;
	}

	#about {
		border-style: solid;
		font-size: 25px;
		font-weight: 600;
		padding-top: 2%;
		padding-bottom: 2%;
		margin-bottom: -40px;
	}


	.webDev {
		border-style: solid;
		text-align: left;
		padding-right: 14%;
		margin-top: -12px;

	}

	.webDev1 {
		border-style: solid;
		text-align: left;
		padding-right: 14%;
		margin-top: -20px;
	}
/*about end */

/* section -------------------------------------------------------------------PROGRESS BAR----------------- */

/*progress bar*/
	
	.progB {
		width: 100%;
		padding-bottom: 50px;
		padding-top: 10px;
	}

	.wanD {
		border-style: solid;
		padding-right: 8%;
		padding-left: 8%;	
		background-color: #ffffff;
	}	

	.wanDiv {
		border-style: dotted;
		justify-content: center;
		
	}

  .wanDiv1 {
		border-style: dotted;
		justify-content: center;
		
	}

	#pcar {
		font-weight: bolder;
		font-size: 45px;
		color: #0097a7;
	}

	#pbar-p {
		font-size: 20px;
	}

/*progress bar end */

/* section -----------------------------------------------------------------------EXPERTISE AREA------------- */

/*expertise area */
	.expertArea {
		background-color: #f8f9fd;
	}

	.h2e {
		border-style: solid;
		font-size: 25px;
		font-weight: 600;
		margin-bottom: -20px;
	}

	.layn2 {
		border-style: solid;
		position: inherit;
		margin-top: -20px;
	}

	.mainD {
		padding-top: 145px;
		padding-bottom: 145px;
		border-style: solid;
		padding-right: 12%;
		padding-left: 12%;
		background-color: #f8f9fd;	
		width: 100%;
	}

	.title {
	 padding-top: 20px;
	 color: #263238;
	 border-style: solid;
	 font-size: 20px;
	 font-weight: 600;
	 padding: 2%;
	}

	.firstD {
		border-style: dotted;
		background-color: #f8f9fd;
		padding: 10px;
		transition: 0.3s ease-out;
	}

	.firstD:hover {
		transform:  translate(0px, -5px)
	}

	.firstD:hover::after {
		transform:  translate(0px, 6px)
	}

	.firstD:hover::before {
		transform:  translate(0px, 5px)
	}

	.box {
		border-style: solid;
		background-color: #ecf1fd;
		padding: 20px
		
	}

	.box1 {
		border-style: solid;
		background-color: #ecf1fd;
		padding: 20px;
		padding-bottom: 40px;
		
	}

/* expertise end */

/* section ---------------------------------------------------------------------RECENT PROJECTS--------------- */

/*recent sample */
	
	.h2eee {
		border-style: solid;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: -20px;
	}

	.layn222 {
		border-style: solid;
		position: inherit;
		margin-top: -20px;
	}

 	.texxt {
 		font-size: 14px;
 		font-weight: lighter;
 		color: #787878;
 		margin-bottom: 22px;
 	}

	.mainDee {
		padding-top: 145px;
		padding-bottom: 145px;
		border-style: solid;
		padding-right: 12%;
		padding-left: 12%;
		background-color: white;
		width: 100%;
	}

	.titleee {
	 margin-top: 30px;
	 color: #3e4355;
	 border-style: solid;
	 font-size: 18px;
	 font-weight: 600;
	 padding: 2%;
	}

	/* .firstDee1 {
		margin-right: -45px;
		margin-left: -45px;
	} */

	.boxxx {
		border-style: solid;
		line-height: 28px;
		padding: 30px;
		position: relative;
	}

	
  .para {
  	font-size: 14px;
  	color: #899096;
  }

  .button4 {
  	background-color: #0097a7;
  	border-style: none;
  	color: white;
	border-radius: 6px;
  }

  /*pics*/

  .tc-container {
  	position: relative;
	border-style: dashed;
  }
  
  .tc-container img {
   width: 100%;
   height: 100%;
  }

  .top-img {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.8s ease;
	}

  .top-img:hover {
  	opacity: 1;
  }
  

  /* section ---------------------------------------------------------------------RESUME--------------- */
/*RESUME*/

  	.newRes {
		border-style: dotted;
		background-color: #f8f9fd;
		padding-top: 120px;
		padding-bottom: 400px;
		width: 100%;
	}

	.cont3 {
		border-style: solid;
		width: 100%;
		justify-content: center;
	}

	.cont4 {
		border-style: dashed;
	}

	.cont5 {
		border-style: dotted;
		padding: 40px;
		background-color: #ecf1fd;
		transition: 0.3s ease-out;
		margin-bottom: 10px;
		
	}

	.cont5:hover {
		transform:  translate(0px, -5px)
	}

	.cont5:hover::after {
		transform:  translate(0px, 6px)
	}

	.cont5:hover::before {
		transform:  translate(0px, 5px)
	}

	.subRes {
		font-size: 15px;
		font-weight: bold;
	}

	.subTit {
		border-style: solid;
		font-size: 35px;
		font-weight: 600;
	   }
   
	   .subName {
		border-style: solid;
		font-size: 20px;
		font-weight: 600;
		padding-left: 3px;
	   }
	
/*RESUME end*/

/* section ------------------------------------------------------------------CONTACT ME------------------ */

/*contact form*/

	#conSection {
		margin-top: -270px;
		padding-right: 4%;
		padding-left: 4%;
		width: 100%;
		border-style: dotted;
	}

	.mainC:hover {
		transform:  translate(0px, -5px)
	}

	.mainC:hover::after {
		transform:  translate(0px, 6px)
	}

	.mainC:hover::before {
		transform:  translate(0px, 5px)
	}

	#mainCont {
	 	padding: 7% 3% 7% 15%;
	 	border-style: solid;
	}

	#mainCont1 {
	 	padding: 3% 7% 7% 10%;
	 	border-style: solid;
		/*  */
	}

	.eml {
		font-weight: 500;
	}

	.nds {
		font-size: 14px;
		margin-top: -20px;
	
	}

	.mainC {
		background-color: #f8f9fd;
		border-style: dashed;
		padding: 5%;
		margin-right: 80px;
		box-shadow: 1px 10px 20px;
		transition: 0.3s ease-out;
	}

	.CntMe {
		color: #3e4355;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: -20px;
	}

	.lane {
		margin-bottom: -20px;
	}

	.looking {
		color: #3e4355;
		font-size: 18px;
		margin-top: -20px;
		margin-bottom: 95px;
	}

	.email {
	  font-size: 18px;
	  font-family: 'Poppins', sans-serif;
	  font-weight: 500;
	}
	
	.email {
	  font-size: 18px;
	  font-family: 'Poppins', sans-serif;
	  font-weight: 500;
	}

	.formC {
		color: red;
		content: "*";
		font-size: 20px;

	}


	#contact {
		background-color: #ecf1fd;
	}

	#button3 {
		background-color: #0097a7;
		color: white;
		font-size: 15px;
		padding: 10px;
		margin-bottom: 17px;
		width: 100%;
		border-style: none;
		border-radius: 6px;
		transition: 0.3s ease-out;
	}

	#iconic1 {
		color: #0097a7;
		font-size: 15px;
		background-color: white;
		
	}

	#iconic1:hover {
		color: #263238;
	}


	#button3:hover {
		transform:  translate(0px, -5px)
	}

	#button3:hover::after {
		transform:  translate(0px, 6px)
	}

	#button3:hover::before {
		transform:  translate(0px, 5px)
	}
	
/*contact form end */

/* section ----------------------------------------------------------------------FOOTER-------------- */

/*footer*/
	#foot {
		color: gray;
		background-color: #1b1b1b;
		font-size: 12px;
	}
/* foot end */

#arrowUp {
	position: fixed;
	width: 35px;
	height: 35px;
	background-color: #40404133;
	bottom: 20px;
	right: 15px;
	text-decoration: none;
	text-align: center;
	line-height: 37px;
	color: #ffffffac;
	font-size: 18px;
	pointer-events: none;
	transition: all .4s;
	opacity: 0;
}

#arrowUp:hover {
	background-color: #4040416c;
	color: #ffffffc9
}

#arrowUp.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}


