* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body {
  background-color: #ecf1fd;
}

.image{
  height: 350px;
  
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url(/icons/webg.png);
}

.btnh {
  color: white;
  font-weight: 500;
  display: flex;
  background-color: #0097a7;
   border-style: none;
   border-radius: 8px;
}

.layyn {
   font-size: 50px;
   color: #0097a7;
}

.recentW {
  font-weight: 700;
  font-size: 45px;
  color: white;
}

.subw {
  color: #0097a7;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 150px;
}


/* others */

.titleee {
  margin-top: 30px;
  color: #3e4355;
  font-size: 28px;
  font-weight: 700;
  padding: 2%;
}

.para {
  font-size: 16px;
  color: #899096;
}

.button4 {
  background-color: #0097a7;
  border-style: none;
  color: white;
  border-radius: 6px;
}

.texxt {
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
  margin-bottom: 22px;

}

.gallery{
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 250px;
}

.verti {
  grid-row: span 1;
}

.hori {
  grid-column: span 1;
}

.square{
  grid-row: span 1;
  grid-column: span 1;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title1 {
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 10px;
  color: #3e4355;
}

.para1{
  font-size: 15px;
 
  color: #787878;
}

.subt1{
  font-size: 19px;
  color: #3f3f3f;
}

.fsite {
  color: #787878;
}

.fsite1 {
  letter-spacing: -1px;
  color: #0097a7;
}

.dots{
  color: #787878;
}
.other{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -25px;
  padding-top: 80px;
}

.othersPad{
  padding-left: 10%;
  padding-right: 10%;
}